/* ========== Hero ========== */
.hero {
    background: url('../assets/imgs/test-substitute.png'), black;
    background-position: center right 25%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 0%,
        transparent 40%
    ),
    linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8) 30%,
        transparent 65%
    );
}

.hero-content {
    color: var(--light-clr);
    z-index: 1;
    margin-left: 5vw;
}

.hero-content a.btn {
    margin-top: clamp(1rem, 2vw, 2rem);
    border-color: var(--primary-light);
    color: var(--primary-light);
}

/* ========== Responsive Design ========== */
@media (max-width: 768px) {
    .hero {
        justify-content: center;
    }
    .hero::after {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9),
        transparent 
        )
    }
    .hero-content {
        margin: 0 2rem;
        text-align: center;
    }
}

/* ========== Featured Music Section ========== */

.featured-music {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: clamp(2rem, 2vw, 3rem);
    padding: 4vw clamp(2rem, 8vw, 12rem);
    position: relative;
}

.video-column {
    flex: 1.4 1 400px;
}

.featured-music .vertical-line {
    align-self: stretch;
    width: 1px;
    background-color: var(--primary-light);
    margin: -0.5rem 0;
}

.text-column {
    flex: 1 1 300px;
}

.text-column h2 {
    color: var(--primary-dark);
}

.text-column :is(h3, p) {
    margin-bottom: 2rem;
}

.text-column a.btn {
    margin-right: 0.5rem;
    z-index: 1;
}

.video-column iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
}

.video-column iframe:hover {
    scale: 1.01;
}

.treble-clef-bg {
    position: absolute;
    max-height: 50rem;
    height: auto;
    height: clamp(30rem, 80vw, 50rem);
    top: 55%;
    right: 2rem;
    transform: translateY(-50%);
    z-index: -1;
    fill: var(--primary-light);
    fill-opacity: 60%;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .featured-music {
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem;
    }
    .featured-music .vertical-line {
        display: none;
    }
    .video-column, .text-column {
        flex: auto;
        width: 100%;
    }
    .text-column {
        text-align: center;
        order: 1;
    }
    .text-column :is(h2, h3, p) {
        margin-bottom: 1rem;
    }
    .video-column {
        order: 2;
    }

    .treble-clef-bg {
        top: 35%;
        fill: var(--primary-vibrant);
        fill-opacity: 30%;
    }
}

/* ========== Quick Links Section ========== */

.links {
    text-align: center; 
    padding-inline: clamp(2rem, 2vw, 4rem);
    padding-bottom: clamp(3rem, 3.5vw, 5rem);
    position: relative;
    background-color: var(--secondary-dark);
}

.links :is(h2, p) {
    color: var(--light-clr);
}

.links h2 {
    margin-bottom:  clamp(2rem, 4vw, 6rem);
}

.link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(2rem, 2.5vw, 3rem);
    width: 100%;
}

.link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.5rem, 1.5vw, 1rem);
}

.link-item {
    width: clamp(7rem, 10vw, 8rem);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--light-clr);
    border: 3px solid var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.link-item a svg {
    --padding: clamp(0.5rem, 1.5vw, 1rem);
    --double-padding: calc(var(--padding) * 2);
    max-width: calc(100% - var(--double-padding));
    max-height: calc(100% - var(--double-padding));
    padding: calc(var(--padding) / 2);
    fill: var(--primary-clr);
}

.link-item a svg.vertical-icon {
    max-height: calc(100% - var(--padding) / 2);
    padding: calc(var(--padding) + 0.5rem);
}

.link-item:hover {
    background-color: var(--primary-clr);
    box-shadow: 0 5px 0 var(--primary-dark);
    transform: translateY(-5px);
}

.link-item:active {
    transform: translateY(0);
    box-shadow: none;
}

.link-item:hover a svg {
    fill: var(--light-clr);
    scale: 1.05;
}

/* ===== SVG Wave Section Transitions ===== */

.svg-transition {
    width: 100%;
    height: clamp(2rem, 5vw, 6rem);
    margin-bottom: -0.5rem;
}

.svg-transition.before {
    fill: var(--secondary-dark);
}

.svg-transition.after {
    fill: var(--light-clr);
    background-color: var(--secondary-dark);
}

@media (max-width: 768px) {
    .link-container {
        max-width: 500px;
        margin: 0 auto;
    }
}

/* ========== About ========== */

.about {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(2rem, 2vw, 3rem);
    padding: 4vw clamp(2rem, 8vw, 12rem);
    position: relative;
}

.img-column {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    width: clamp(15rem, 60%, 30rem);
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
    clip-path: url(#circleClip);
}