@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* ========== CSS RESET ========== */

:root {
    --primary-clr: #607d8b;
    --primary-dark: #455a64;
    --primary-light: #90a4ae;
    --primary-vibrant: #587f93;
    --secondary-clr: #D2b48c;
    --secondary-dark: #bfa074;
    --secondary-light: #F5DEB3;
    --dark-clr: #212121;
    --light-clr: #f5f5f5;

    --fg: var(--dark-clr);
    --bg: var(--light-clr);

    --primary-font: 'Cormorant Garamond', serif;
    --secondary-font: 'Inter', sans-serif;
}
/* Dark Mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --fg: var(--light-clr);
    --bg: var(--dark-clr);
  }
} */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    transition: all 0.25s ease;
}

body {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--fg);
}

/* Typography */

p, h1, h2, h3, h4, h5, h6, li, a {
    text-wrap: balance;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);   
}

h2 {
    font-size: clamp(2rem, 4vw, 3.5rem);
}
h3 {
    font-size: clamp(1.2rem, 3vw, 2rem);
}
h4 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}


p, li, a {
    font-family: var(--secondary-font);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/* Buttons */
a.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid var(--primary-clr);
    border-radius: 6px;
    background-color: transparent;
    color: var(--primary-clr);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    outline: none;
}
a.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-clr);
    z-index: -1;
}
a.btn.hover, a.btn:focus {
    color: var(--light-clr) !important;
    border-color: var(--primary-clr) !important;
    text-shadow: 1px 1px 1px var(--primary-dark);
    
}
a.btn.hover::before, a.btn:focus::before {
    width: 100%;
}
a.btn.leave::before {
    left: unset;
    right: 0;
    width: 0;
}
a.btn:active {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark) !important;
}
/* ========== Header ========== */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    color: var(--light-clr);
}

/* Logo */

.logo {
    margin-right: auto;
    cursor: pointer;
}
#logo-img {
    width: 4rem;
    height: auto;
}
.logo-text {
    font-size: clamp(1.5rem, 2.5vw, 2.2rem);
    margin-top: 6px;
}
#logo-img path {
        fill: var(--light-clr);
}

/* Nav Menu */

nav ul, .logo {
    display: flex;
    gap: 2rem;
}
nav ul li a {
    text-transform: uppercase;
}

nav ul li:hover a {
    color: var(--primary-light);
}

/* Nav Hover Animation */
.nav-list-container {
    position: relative;
}

.nav-list-container::after {
    content: '';
    position: absolute;
    top: calc(100% + 0.2rem);
    background-color: var(--primary-light);
    right: 0;
    height: 0.2rem;
    border-radius: 100vmax;
    left: var(--left, 28px);
    transform: translateX(-50%);
    width: var(--width, 0);
}

/* Hamburger Menu */

#hamburger {
    --line-clr: var(--light-clr);
    cursor: pointer;
    width: 2rem;
    aspect-ratio: 1;
    padding: 0.25rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.1rem;
    display: none;
}

#hamburger::before {
    content: '';
    width: calc(100% + 0.4rem);
    height: calc(100% + 0.4rem);
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: var(--line-clr);
    border-radius: 100vmax;
    position: relative;
}

.line::before {
    content: '';
    width: 0;
    height: 0.4rem;
    background-color: var(--dark-clr);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.1rem;
    opacity: 0;
}

/* menu open */
#hamburger.open + #nav-menu {
    transform: translateX(-100%);
    opacity: 1;
}

#hamburger.open {
    transform: rotate(90deg);
    background-color: var(--light-clr);
    border-radius: 2px;
}

#hamburger.open::before {
    background-color: var(--light-clr);
}

#hamburger.open .line {
    background-color: var(--dark-clr);
}

#hamburger.open .line::before {
    opacity: 1;
    width: 65%;
}
/* ========== Responsive Design ========== */
@media (max-width: 768px) {
    header {
        justify-content: center;
        padding: 1rem;
    }
    #logo-img {
        width: 3rem;
    }
    .logo-text {
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        left: 100%;
        opacity: 0;
    }
    nav ul {
        flex-direction: column;
        gap: 2rem;
        padding: 1.3rem;
        padding-top: 5rem;
        background-color: var(--primary-dark);
        height: 100vh;
        width: 40vw;
        text-align: right;
    }
    nav ul li a {
        font-size: clamp(1rem, 3vw, 1.2rem);
        color: var(--light-clr);
    }
    a.btn::before {
        display: none;
    }
    #hamburger {
        display: flex;
        z-index: 100;
        position: fixed;
    }
}


section {
    min-height: 100vh;
}